#form_con{
    height: 75vh;
    width: 42vw;
    background-color: rgb(255, 255, 94);
    float: left;
    margin-left: 5vw;
    border-radius: 5px;
}

#vac_con{
    height: 75vh;
    width: 42vw;
    background-color: rgb(255, 255, 94);
    float: left;
    margin-left: 5vw;
    border-radius: 5px;
}

.form{

    background-color:  #FFC80F;
    width: fit-content;
    padding: 1vh;
    border-radius: 5px;
}

.title1{
    background-color: transparent;
    font-size: 3vh;
}



/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/

.thankcon{
    background: rgb(255, 255, 94);
    height: 60vh;
    width: 70vw;
    margin: auto;
    margin-top: 5%;   
}